/* awaiting new image before implementing

.profile_img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-image: url("../../assets/images/colin-profile.jpg");
  background-size: 350px;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
} */
.about_title,
.interests_title {
  display: flex;
  padding: 40px 0 20px 0;
  justify-content: center;
}

.fade_in {
  opacity: 0;
  animation: fadeIn 1s, slideUp 0.5s;
  animation-fill-mode: forwards;
}
.delay_2 {
  animation-delay: 0.2s;
}
.delay_4 {
  animation-delay: 0.4s;
}
.delay_6 {
  animation-delay: 0.6s;
}
.delay_8 {
  animation-delay: 0.8s;
}
.delay_10 {
  animation-delay: 1s;
}
.delay_12 {
  animation-delay: 1.2s;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons li {
  background-image: linear-gradient(to top right, #620d5f, #f541ef);
  list-style-type: none;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.interests_title {
  flex-direction: column;
  text-align: center;
}

.interest_box {
  background-color: #bdbdbd;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.interest_icon {
  padding: 0 20px 0 20px;
}
.interest_icon img {
  filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(106deg)
    brightness(109%) contrast(96%);
}
.interest_text {
  padding: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
