.img_left {
  max-width: 300px;
  max-height: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.img_right {
  max-width: 300px;
  max-height: 300px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
