.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* .splash svg, */
.splash h2,
.splash h3 {
  opacity: 0;
  animation: fadeIn 1s, slideUp 0.5s;
  animation-fill-mode: forwards;
}

.splash h2 {
  animation-delay: 0.2s;
}
.splash h3 {
  animation-delay: 0.3s;
}
.splash .button {
  background-color: #bdbdbd;
  padding: 12px 25px 2px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  opacity: 0;
  animation: fadeIn 1s, slideUp 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.splash .button a {
  text-decoration: none;
  color: #fff;
}
.splash .button .one {
  width: 0;
  height: 5px !important;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: #fff;
  margin-bottom: 5px;
  animation: skrinkLine 0.5s;
}
.splash .button:hover a {
  color: #f541ef;
}
.splash .button:hover .one {
  animation: drawLine 0.5s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.splash svg {
  width: 400px;
  margin-bottom: 20px;
}
.splash svg rect {
  fill: none;
  stroke-width: 8px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: rectangle 4s forwards;
}
.splash svg path {
  fill: #fff;
}

@media (max-width: 480px) {
  .splash {
    margin-top: -40px;
  }
}

@keyframes rectangle {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes skrinkLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes drawLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
