.header {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #bdbdbd;
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.header .button {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 50px;
}

.button div {
  height: 5px !important;
  background: #fff;
  margin: 7px 0 7px 0;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.header .two {
  width: 30px;
}

.header .three {
  width: 45px;
}

.header.active {
  height: 150px;
  width: 200px;
  border-radius: 5%;
  padding: 20px;
}

.header:hover .button div {
  width: 50px;
}

.header ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: none;
}

.header.active .button {
  display: none;
}

.header.active .block {
  display: none;
}

.header.active ul {
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #f541ef;
}
