.experience_card {
  cursor: pointer;
  text-align: center;
}
.experience_card:hover {
  background-color: #2a5ebf;
  color: #fff;
}
.summary {
  padding: 20px;
}
.duties li {
  list-style-type: none;
}
.duties li:before {
  content: "\2713\0020";
  color: #2a5ebf;
}
