* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Poppins, Open-sans, sans-serif;
  color: #fff;
  background-image: linear-gradient(to top right, #180f40, #a6e1ff);
  min-height: 100vh;
}
.content {
  margin-top: 0;
}
